@model FaktureApp.Models.Fakture.Faktura

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Faktura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BrojFakture)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BrojFakture)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DatumDokumenta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DatumDokumenta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ukupno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ukupno)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BrojDokumenta">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
